@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    @* Single Line Statements *@
    @{var message = "I am Single Line Statements";
        int twelve = 12;
        } 
    @* Inline Markup *@
    <h5>The message is : @message</h5>
    <h5>Pete acts like a @twelve year old.</h5>

    @* This is Code Block *@
    @{
        var num1 = 5;
        var num2 = 10;
        var result = num1 + num2;

        var number1 = 50;
        var number2 = 48;
        var answer = number1 + number2;
    }
    @* Inline Markup *@
    <h5>Sum of @num1 + @num2 = @result</h5>
    <h5>The sum of @number1 + @number2 = @answer</h5>

    @*This is code block*@
    @{
        var msg1 = "Hello";
        int num = 5;

        var msg2 = "Hey there";
        var name = "Paige";
    }
    @*Inline Markup-HTML*@
    <h5>@msg1, I am @num years old.</h5>
    <h5>@msg2, my name is @name.</h5>

    

</body>
</html>